.theColors {
  color: rgb(5, 5, 199);
  color: #0b06af;
  color: #0c04ec;
  color: #1c1969;
  color: #540a63;
  color: #490381;
  color: #363636;
  color: #05852b;
  color: #adaaaa;
  color: #02033d;
}
